@use "../../styles/variables" as variable;

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;

  @media screen and (max-width: variable.$width-sm) {
    border: none;
  }
}

.table__title{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}



