@use "../../styles/variables" as variable;

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;

  @media screen and (max-width: variable.$width-sm) {
    border: none;
  }
}

.table__title{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
//
//.table__head {
//  font-weight: bold;
//
//  @media screen and (max-width: variable.$width-sm) {
//    display: none;
//  }
//}
//
//.table__thcol {
//  padding: 10px;
//  border: 1px solid variable.$table-color;
//  cursor: pointer;
//}


