// width
$width-sm: 320px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;


// colors
$white-color: #ffffff;
$red-color: #D90000;
$text-color: #0C1014;
$label-color: #6A6E72;
$placeholder-color: rgba(70, 70, 70, 0.8);
$btn-reset-color: #0848C0;
$modal-overlay-bg-color: rgba(0, 0, 0, 0.42);
$border-color: #D6DADE;
$button-bg-color: #E5266E;
$success-color: #05aa2d;


//fonts
$primary-text-font: PT_Sans;
$secondary-text-font: Lato;
$title-font: Montserrat;


$color-brown: #593F0D;
$color-light-brown: #FFC771;
$color-green: #006738;
$color-light-green: #048e22;
//$color-light-green: #02961b;
//$color-light-green: #009344;
$color-green-pastel: #F0F8F0;
$color-grey: #58595B;
$color-light-grey: #999999;
$color-dark-white: #CCCCCC;

$color-red: #f10606;
$color-dark-grey: #3f3f3f;
$color-body-bg: #f8f8f8;
$color-header: rgb(#F0F8F0, 0.33);
//$color-header: #f9fafc;
$color-footer: #3f3f3f;
$color-stars: #fdd700;